@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Roboto');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif, monospace;
  background-color: #eeeeee;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Do Hyeon', sans-serif, monospace;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

main {
  margin-bottom: 100px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.background-blue {
  background: #114cbf;
}

.background-orange {
  background: #ffc353;
}

.text-dark-blue * {
  color: #0b378d;
}

.text-white * {
  color: white;
}

.text-orange * {
  color: #ffc353;
}

.text-center {
  text-align: center;
}

/* Header */
.site-header {
  width: 100%;
  padding: 10px;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  margin: 0;
  padding: 0;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
  font-size: 18px;
  line-height: 40px;
  font-family: 'Do Hyeon', sans-serif, monospace;
}

.nav-item:hover {
  color: #ffc353;
}

.nav-item:first-of-type {
  margin-left: 0;
}

.nav-item:last-of-type {
  margin-right: 0;
}

/* About */
#about {
  text-align: center;
  padding: 20px 10px;
}

.profile-pic {
  max-width: 100%;
  width: 250px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 13px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 13px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 13px -5px rgba(0, 0, 0, 0.75);
}

/* Projects */
#projects {
  padding: 0 10px;
}

.project {
  background-color: white;
  max-width: 100%;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 2px;
}

.project:first-of-type {
  margin-top: 0;
}

.project:last-of-type {
  margin-bottom: 0;
}

.project-content {
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.project-content > ul {
  list-style-type: none;
  max-width: 300px;
}

.project-content > ul > li {
  margin-left: 10px;
  font-size: 16px;
  text-align: left;
}

.project-screenshot {
  width: 300px;
  max-width: 100%;
  margin: 0 10px;
  border-radius: 5px;
  border: 3px solid black;
}

.project > header > * {
  margin: 0;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-links > a:hover {
  color: #114cbf;
  background-color: #ffc353;
}

.project-links > a {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  background: #114cbf;
  margin: 10px 0;
}

/* Footer */
.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  -webkit-box-shadow: 0px -1px 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 10px -5px rgba(0, 0, 0, 0.75);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}

.footer-link:hover {
  color: #ffc353;
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }
  .project-content {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
